.cache/
.idea/
.vscode/

dist/

**/bin/
**/obj/

skse/CalamityAffixes/build*/
skse/CalamityAffixes/.xwin/
skse/CalamityAffixes/extern/CommonLibSSE-NG/.git/
skse/CalamityAffixes/extern/CommonLibSSE-NG/build*/
skse/CalamityAffixes/extern/CommonLibSSE-NG/install*/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
*.ninja
*.obj
*.pdb
*.ilk

*.log
*:Zone.Identifier
